.button-row {
	display: flex; /* prevents margin-top from making buttons form column */
	flex-wrap: wrap;
}

.button-row Button {
	width: 90%;
	font-size: 2vw;
}

.button-row img {
	width: 90%;
}

.App {
	text-align: center;
	/* background-color: #282c34; */
}

.App-link {
	color: #61dafb;
}
