.prompt-size-1 {
	font-size: calc(40px + 6vh);
}

.prompt-size-2 {
	font-size: calc(20px + 3vh);
}

.container {
	min-height: 70vh;
	margin-bottom: 80px;
}

.container > * {
	text-align: center;
	align-items: center;
}
