.prompt-size-1 {
	font-size: calc(40px + 4vw);
}

.prompt-size-2 {
	font-size: calc(20px + 2vw);
}

.container {
	min-height: 70vh;
}

.container > * {
	align-items: center;
}

#adjust-height-text {
	min-height: calc(250px + 10vh + 5vw);
}

#adjust-height-image {
	min-height: calc(55px + 18vh + 23vw);
}
